{% extends "base.html" %}


{% block image %}
body { background-image: url("static/images/newstl.jpg"); }
{% endblock %}


{% block content %}


    <h2 class="mt-5 pt-1 text-center text-black"><strong>Наши услуги:</strong></h2>
    <h3 class="mt-4 pt-2 text-center text-black"><strong>Экспресс-монтаж прототипов </strong></h3>
<title>Таблица</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse; /* Убирает двойные линии между ячейками */
        }
        th {
            background-color: #abc0c4; /* Цвет заливки заголовков */
            color: white; /* Цвет текста заголовков */
            font-family: Arial, sans-serif; /* Шрифт заголовков */
            padding: 10px; /* Отступы внутри ячеек */
        }
        td {
            border: 1px solid #dddddd; /* Цвет и стиль границы ячеек */
            text-align: left; /* Выравнивание текста в ячейках */
            padding: 8px; /* Отступы внутри ячеек */
        }
        tr:nth-child(even) {
            background-color: #f2f2f2; /* Цвет фона для четных строк */
        }
    </style>
</head>
<body>

<!--<h2>Пример таблицы</h2>-->

<table>
    <tr>
        <th>Заголовок 1</th>
        <th>Заголовок 2</th>
        <th>Заголовок 3</th>
    </tr>
    <tr>
        <td>Ячейка 1</td>
        <td>Ячейка 2</td>
        <td>Ячейка 3</td>
    </tr>
    <tr>
        <td>Ячейка 4</td>
        <td>Ячейка 5</td>
        <td>Ячейка 6</td>
    </tr>
    <tr>
        <td>Ячейка 7</td>
        <td>Ячейка 8</td>
        <td>Ячейка 9</td>
    </tr>
</table>

</body>
</html>
    <h3 class="mt-4 pt-2 text-center text-black"><strong>Монтаж малых и средних партий </strong></h3>
<title>Таблица</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse; /* Убирает двойные линии между ячейками */
        }
        th {
            background-color: #abc0c4; /* Цвет заливки заголовков */
            color: white; /* Цвет текста заголовков */
            font-family: Arial, sans-serif; /* Шрифт заголовков */
            padding: 10px; /* Отступы внутри ячеек */
        }
        td {
            border: 1px solid #dddddd; /* Цвет и стиль границы ячеек */
            text-align: left; /* Выравнивание текста в ячейках */
            padding: 8px; /* Отступы внутри ячеек */
        }
        tr:nth-child(even) {
            background-color: #f2f2f2; /* Цвет фона для четных строк */
        }
    </style>
</head>
<body>



<table>
    <tr>
        <th>Заголовок 1</th>
        <th>Заголовок 2</th>
        <th>Заголовок 3</th>
    </tr>
    <tr>
        <td>Ячейка 1</td>
        <td>Ячейка 2</td>
        <td>Ячейка 3</td>
    </tr>
    <tr>
        <td>Ячейка 4</td>
        <td>Ячейка 5</td>
        <td>Ячейка 6</td>
    </tr>
    <tr>
        <td>Ячейка 7</td>
        <td>Ячейка 8</td>
        <td>Ячейка 9</td>
    </tr>
</table>

</body>
</html>
    <h3 class="mt-4 pt-2 text-center text-black"><strong>Изготовление кабельных сборок </strong></h3>
<title>Таблица</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse; /* Убирает двойные линии между ячейками */
        }
        th {
            background-color: #abc0c4; /* Цвет заливки заголовков */
            color: white; /* Цвет текста заголовков */
            font-family: Arial, sans-serif; /* Шрифт заголовков */
            padding: 10px; /* Отступы внутри ячеек */
        }
        td {
            border: 1px solid #dddddd; /* Цвет и стиль границы ячеек */
            text-align: left; /* Выравнивание текста в ячейках */
            padding: 8px; /* Отступы внутри ячеек */
        }
        tr:nth-child(even) {
            background-color: #f2f2f2; /* Цвет фона для четных строк */
        }
    </style>
</head>
<body>

<h2>Пример таблицы</h2>

<table>
    <tr>
        <th>Заголовок 1</th>
        <th>Заголовок 2</th>
        <th>Заголовок 3</th>
    </tr>
    <tr>
        <td>Ячейка 1</td>
        <td>Ячейка 2</td>
        <td>Ячейка 3</td>
    </tr>
    <tr>
        <td>Ячейка 4</td>
        <td>Ячейка 5</td>
        <td>Ячейка 6</td>
    </tr>
    <tr>
        <td>Ячейка 7</td>
        <td>Ячейка 8</td>
        <td>Ячейка 9</td>
    </tr>
</table>

</body>
</html>
    <h3 class="mt-4 pt-2 text-center text-black"><strong> </strong></h3>
    <h3 class="mt-4 pt-2 text-center text-black"><strong> </strong></h3>
    <h3 class="mt-4 pt-2 text-center text-black"><strong> </strong></h3>
{% endblock %}
